/*-----------------------------------------*\
  Adminsidebar (.adminsidebar)
\*-----------------------------------------*/
.adminsidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  padding: 20px 0;
  background: $theme-default-color;
  text-align: center;
  transition: .3s width ease-in-out;
  overflow: hidden;
  & ~ .adminmain{
    padding-left: 70px;
  }
  @include breakpoint($breakpoint-tablet-portrait){
    &:hover, &.is-fixed-sidebar{
      width: 180px;
      & ~ .adminmain{
        padding-left: 180px;
      }
      .adminsidebar__nav__caption{
        &::after{
          content: attr(title);
          display: inline;
          vertical-align: bottom;
          padding-left: 15px;
        }
      }
      .support{
        margin: 0 10px;
      }
      .adminsidebar__nav{
        padding: 0 20px;
        text-align: left;
      }
      .adminsidebar__logo span{
        top: -50px;
        transform: scale(0);
      }
      .adminsidebar__logo h2{
        width: auto;
      }
    }
  }
  &__logo{
    span{
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      padding: 12.5px 12px;
      margin: 0 auto;
      border-radius: 50%;
      background: rgba(darken($white, 20%), .5);
      color: rgba(darken($white, 5%), .9);
      font-weight: bolder;
      text-shadow: 0 1px 1px rgba($black, .5);
      transition: .3s ease-out;
    }
    h2{
      width: 0;
      margin: 10px 0;
      color: rgba($white, .5);
      font-weight: 300;
      transition: 3s width ease-in;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__support{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    .pinsidebar{
      position: absolute;
      bottom: 10px;
      left: 150px;
      width: 1.5em;
      height: 1.5em;
      fill: rgba(darken($white, 10%), .8);
      cursor: pointer;
    }
  }
  &__nav{
    margin: 30px 0;
    a{
      display: block;
      padding: 10px;
      border-bottom: solid thin rgba($white, .08);
      color: rgba($white, .5);
      white-space: nowrap;
      @include breakpoint($breakpoint-tablet-portrait){
        padding: 20px 10px;
      }
      &:hover, &.is-active-page{
        text-decoration: none;
        color: $white;
      }
    }
    .icon{
      width: 2em;
      height: 2em;
    }
  }
}