.support{
  display: block;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  padding: 6px;
  border-radius: 50%;
  background: rgba(darken($white, 20%), .5);
  transition: .3s animation ease-in-out;
  cursor: pointer;
  .icon{    width: 2em;
    height: 2em;
    fill: rgba(darken($white, 10%), .7);
  }
  &:hover{
    animation: supportBounce 1s .4s;
  }
}