/*---------------------------------*\
  preview (.preview)
  - Child Elements
    * preview__image
    * preview__slider
    * preview__message
    - Modifiers
      * preview__message--overlay
\*---------------------------------*/
.preview{
  position: relative;
  &__image{
    width: 100%;
    max-height: 500px;
  }
  &__thumbs{
    margin: 5px 0;
    .thumbs{
      list-style-type: none;
      display: table;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li{
        display: table-cell;
        padding: 0 5px;
        &:first-of-type{
          padding-left: 0;
        }
        &:last-of-type{
          padding-right: 0;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  &__message{
    &--overlay{
      position: absolute;
      bottom: 60px;
      left: 0;
      right: 0;
      width: 80%;
      max-width: 400px;
      height: 150px;
      margin: 0 auto;
      padding: 20px 0;
      background: $white;
      box-shadow: 0 2px 2px #777;
      text-align: center;
      .button{
        box-shadow: 0 2px 2px #777;
      }
    }
  }
}