/*-----------------------------------------*\
  Standalone
\*-----------------------------------------*/
.quantity{
  margin: 5px 0;
  padding: 10px;
  background: darken($white, 10%);
}
.help{
  margin: 5px 0;
  font-size: 1.2rem;
}