/*---------------------------------------*\
  Breadcrumb (.breadcrumb)
  Child Element
    * breadcrumb__crumb
\*---------------------------------------*/
.breadcrumb{
  background: linear-gradient(to bottom, #eee, #ddd);
  padding: 10px;
  font-size: 1.1rem;
  &__crumb, &__crumb:visited{
    color: #555;
    text-shadow: 0 1px 5px #eee;
    &:hover{
      text-decoration: none;
    }
    &:not(:first-child){
      margin-left: 5px;
      &::before{
        content: '> ';
        margin-right: 5px;
      }
    }
    &:last-child{
      color: #888;
    }
  }
}