.form{
  &__input{
    .header__aside &{
      width: 75vw;
      @include breakpoint(477px){
        width: 85vw;
      }
      @include breakpoint($breakpoint-tablet-portrait){
        width: 200px;
      }
    }
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    border: solid thin #ccc;
    border-radius: 4px;
    color: #555;
    .form__set &,&--wide{
      width: 100%;
    }
    &.form__long{
      height: 40px;
    }
    @include breakpoint($breakpoint-tablet-portrait){
      &[role=search]{
        transition: .3s ease-out;
        padding-right: 25px;
        &:focus{
          width: 250px;
        }
      }
    }
    &[role=prefixed-input]{
      padding-left: 35px;
    }
    &[role=postfixed-input]{
      padding-right: 35px;
    }
  }
  &__text{
    width: 200px;
    height: 100px;
    padding: 5px 10px;
    border: solid thin #ccc;
    border-radius: 4px;
    color: #555;
    .form__set &,&--wide{
      width: 100%;
    }
  }
  &__wrap{
    position: relative;
    display: inline-block;
  }
  &__set{
    margin: 8px 0;
    padding: 10px;
    border-radius: 4px;
    &--bordered{
      border: solid thin #aaa;
    }
    .field{ margin: 10px 0; }
    legend{
      padding: 0 5px;
      font-size: 1.8rem;
      font-weight: bolder;
    }
  }
}